<meta charset="utf-8" />
<title>@ViewBag.title | Jovera - Store Dashboard </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Store Admin & Dashboard" name="description" />
<meta content="Themesbrand" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/images/KidsLogo.jpg">